// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// New/edit form
.search{
  margin-top: 5em;
  padding: 0;

  h2{
  	margin-top: 0;
  }
}
#search-form{
  float: right;
}
#search-form input{
  display: inline-block;
}

.subform{
	margin-left: 2em;
}

// Index page
.song{
	.song-panel{
	  background-color: #212121;
	  color: #fff;
	  padding: 0.5em;
	  border-radius: 5px;
	  margin: 2em auto;

	  .song-summary{
	  	max-width: 50%;
	  	display: inline-block;
	  	vertical-align: middle;
	  	h4, p{
			white-space: nowrap;
	  		text-overflow: ellipsis;
	  		overflow: hidden;
	  	}
	  }
	  img{
	  	display: inline-block;
	  	max-height: 100px;
	  	max-width: 100px;
	  	margin: 0 1em 0 0;
	  }
	}
	a{
		color: #fff!important;
	}
}

// Show page
.song-details{
	h3{
	  margin-top: 0;
	}	
}

.modal{
	.modal-content{
		padding: 1em;
	}
}

.modal-btn{
	margin-bottom: 1em;
	h4{
		margin: 0;
	}
}

