<div id="footer">
  <div class="container">
    
    <div class="row footer-first-row">
      
      <div class="col-xs-12">
        <p>
          &copy; 2014 - <%= link_to "Greg Kim", "http://gwcmk.github.io" %>
          <a href="mailto:gregorykim2017@u.northwestern.edu">
            <i class="fa fa-envelope"></i>
          </a>
          <a href="http://www.linkedin.com/pub/greg-kim/9a/749/a12/">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
      </div>
      
    </div>
    
  </div>
</div>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-XXXXXX-XX', 'auto');
ga('send', 'pageview');
</script>